$lt-gray: #ddd;
$background-dark: #1b7be9;
$background-light: #4d8fe6;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(10px, 0px);
  width: 100%;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

