<div>
  <div>
    <h1>About Us</h1>
  </div>
  <div *ngIf="about">
    <mat-card *ngFor="let abt of about" style="display: table; width: 100%;">
      <mat-card-title>
        <h4>{{ abt.title }}</h4>
      </mat-card-title>
      <mat-card-content>
        <div style="display: table-row;">
          <div style="display: table-cell; vertical-align: top; padding-right: 20px; min-width: 205px;">
            <img src="{{ abt.image }}" alt="{{ abt.alt }}" height="200px" width="200px">
          </div>
          <div style="display: table-cell;">
            <p>
              {{ abt.text }}
            </p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
