.full-width {
    width: 95%;
  }
  
  .half-width {
    width: 45%;
  }
  
  .form-size {
    width: 75%;
  }
  
  .hidden {
    display: none;
  }
  .visible {
	display: block;
}
.center-text {
	text-align: center;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;  
}