<div>
  <div>
    <h1>Our Products</h1>
  </div>
  <div *ngIf="products" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md=" center"
    fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-card class="example-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title>{{product.displayedName}}</mat-card-title>
        <!--mat-card-subtitle>{{product.description}}</mat-card-subtitle-->
      </mat-card-header>
      <mat-card-content>
        <img (click)="openModal(product.id)" height="300px" width="300px" src="{{ product.images[0] }}"
          alt={{product.name}}>
      </mat-card-content>
      <mat-card-actions>
        <span>Price: {{ product.price | currency}} </span>
        <span>
          <button mat-icon-button mat-stroked-button (click)="product.quantity = product.quantity - 1"
            [disabled]="product.quantity == 0"><mat-icon>remove</mat-icon></button>
          {{product.quantity}}
          <button mat-icon-button mat-stroked-button (click)="product.quantity = product.quantity + 1"
            [disabled]="product.quantity == 20"><mat-icon>add</mat-icon></button>
        </span>
        <span>
          <a mat-button (click)="addToCart(product)" [disabled]="product.quantity == 0 || product.added">
            <fa-icon [icon]="faShop"></fa-icon> Add to Cart
          </a>
        </span>
      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>
</div>



<!--

Notes:
- start count at 1
- change 200px to percentage || viewport something
- add rating side of price 
- checkout shows if items > 0
ngif sizes[0]


-->
<h1>Todo</h1>
<ol>
    <li>
        get pics of all merch
    </li>        
    <li>
        make card of each (pic, price, comment?, checkbox / quantity)
    </li>
    <li>
        order form
    </li>
    <li>
        figure out credit card payment situation
    </li>

</ol>