<h1>Todo</h1>
<ol>
    <li>
        get pics of all merch
    </li>
    <li>
        create items.json
        <ul>
            <li><b>Schema:</b></li>
            <li>Main image</li>
            <li>name, information</li>
            <li>rating</li>
            <li>price</li>
            <li>buttons for adding to cart || increasing quantity</li>
            <li>modal (different component?)</li>
            <li>other images (angles) for modal</li>
        </ul>
    </li>
    <li>
        make card of each (pic, price, comment?, checkbox / quantity)
    </li>
    <li>
        order form
    </li>
    <li>
        figure out credit card payment situation
    </li>

</ol>