<div class="home-div">
    <div style="text-align: center;"> 
      <h1>The official merch site for</h1>
    </div>
    <div style="text-align: center;">
      <p class="huge">
        <span>S.</span>TEVE <br>
        <span>T.</span>HE <br>
        <span>A.</span>QUATIC <br>
        <span>P.</span>UNCHBALL <br>
      </p>
    </div>
    <div style="text-align: center;">
      <div style="background-color: #1b7be9; color: floralwhite; border-radius: 5%; margin-bottom: 1em; display: inline-block;">
        <a mat-button routerLink="/order" style="font-size: 150%;"><mat-icon>store</mat-icon> Shop Now!</a>
      </div>
    </div>
  </div>
  