<div class="home-div">
    <div fxLayout fxLayoutAlign="center center"> 
    <h1>The official merch site for</h1>
    </div>
    <div fxLayout fxLayoutAlign="center center">
        <p class="huge">
            <span>S.</span>TEVE <br>
            <span>T.</span>HE <br>
            <span>A.</span>QUATIC <br>
            <span>P.</span>UNCHBALL <br>
        </p>
    </div>
    <div fxLayout fxLayoutAlign="center center">
        <div style="background-color: #1b7be9; color: floralwhite; border-radius: 5%; margin-bottom: 1em;">
            <a mat-button routerLink="/shop" style="font-size: 150%;"><fa-icon [icon]="faShop"></fa-icon> Buy Now!</a>
        </div>
    </div>
</div>
