.huge {
    font-size: 5em;
    color: rgb(0, 102, 255);
    font-family: Abril Fatface;
    font-weight: bolder;
}

span {
    color: black;
}

.home-div {
    background-image: url(../../assets/images/Steve.jpg);
    background-size: 10%;
}